<h1>{{deploymentName}}</h1>

<ul class="nav nav-tabs deployment-step-tabs">
  <li><a href="#">Deployment Settings</a></li>
  <li class="active"><a href="#">Current Step</a></li>
  <li><a href="#">Add Step</a></li>
  <li><a href="#">Review</a></li>
</ul>
